html body {
    font-family: 'Roboto Condensed', sans-serif ;
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

section {
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 30px;
    border: 2px;
  }

header > a img {
    float: left;
    width: 60px;
    padding-left: 90px;

}

header > h1{
    letter-spacing: normal;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-right: 100px;
}

h2 {
    font-family: 'Rokkitt', sans-serif;
    /*padding: 50px 90px 10px 100px;*/
    font-weight:700;
    font-size: 45px;
    text-align: center;
}

h3{ 
    margin: 20px;
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

p {
    margin: 20px;
    text-align: center;
    padding: 10px;
    font-size: 20px; 
}

form .form-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

}

form .form-group > label{
    text-align: right;
    padding-right: 20px;
    max-width: 120px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 120px;
}

form .form-group > select {
    border-radius: 20px;
    padding:10px;
    margin: 10px;
    border: 2px solid rgb(230,230,230);
    box-sizing: border-box;
    width: 13%;
}

form .form-group > input[type=text]:focus{
    border: 3.5px solid rgb(139, 210, 207);
}

form .form-group > input, input[type=text] {
    width: 30%;
    border-radius: 20px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2.5px solid rgb(230,230,230);
    transition: 0.5s;
    outline: none;
  }
