html body {
    font-family: 'Roboto Condensed', sans-serif ;
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 20px;
}

header > a img {
    float: left;
    width: 60px;
    padding-left: 90px;

}

header > h1{
    letter-spacing: normal;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-right: 100px;
}

h2 {
    font-family: 'Rokkitt', sans-serif;
    font-weight:700;
    font-size: 45px;
    text-align: center;
    color: rgb(139, 210, 207);
}

h3 { 
    margin: 20px;
    text-align: center;
    padding: 10px;
    font-size: 25px;
}


form .form-group > p {
    display: flex;
    align-items: center ;
    justify-content: center;
    font-size: 25px;
    font-weight: 500;
}

  
form * {
    box-sizing: border-box;
  }

form .form-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding:10px

}

form .form-group > label{
    text-align: right;
    padding-right: 10px;
    max-width: 120px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 120px;
}

/*Dropdown List*/

form .form-group > select {
    border-radius: 20px;
    padding:10px;
    margin: 8px;
    border: 2px solid rgb(230,230,230);
    box-sizing: border-box;
    width: 10%;
}

/*Radio buttons*/

form .form-group input[type="radio"]{
    opacity: 0;
    position: fixed;
    width: 0;
}

form .form-group label{
    display: inline-block;
    background-color: rgb(139, 210, 207);
    padding: 10px 45px;
    margin: 45px;
    font-size: 18px;
    border: 2px solid rgb(139, 210, 207);
    border-radius: 30px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif ;
}

form .form-group input[type="radio"]:checked + label {
    border: 2px solid rgb(139, 210, 207);
    background-color: white;
    color:rgb(120,120,120);
}

/*Textbox styles*/

form .form-group #membertext{
    display: none;
}

form .form-group input[type="text"]  {
    width: 170px;
    padding: 12px;
    border: 2px solid rgb(120,120,120);
    border-radius: 5px;
}


form .form-group > input:focus, input[type=text]:focus{
    border: 3.5px solid rgb(139, 210, 207);
}

form .form-group > input, input[type=text] {
    width: 250px;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2.5px solid rgb(230,230,230);
    transition: 0.5s;
    outline: none;
  }


  /*Previous and Next Buttons*/
  form .form-group > a {
    text-decoration: none;
    display: inline-block;
    margin: 45px;
    padding: 10px 40px 10px 40px;
    background-color:rgb(230,230,230);
    border: 2px solid rgb(230,230,230);
    color: black;
    border-radius: 30px;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif ;
    transition: 0.5s;
  }

  form .form-group > a:hover {
    background-color:white;
    border: 2px solid black;
  }