html body {
    font-family: 'Roboto Condensed', sans-serif ;
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

section {
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 30px;
  }

header > a img {
    float: left;
    width: 60px;
    padding-left: 90px;

}

header > h1{
    letter-spacing: normal;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-right: 100px;
}

h2 {
    font-family: 'Rokkitt', sans-serif;
    /*padding: 50px 90px 10px 100px;*/
    font-weight:700;
    font-size: 45px;
    text-align: center;
}

h3{ 
    margin: 20px;
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

p {
    margin: 20px;
    text-align: center;
    padding: 10px;
    font-size: 20px; 
}


form .form-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}
    
form .form-group > label {
    text-align: right;
    padding-right: 20px;
    max-width: 120px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 120px;
}

form .form-group #name{
    display: inline-block;
    padding-bottom: 20px;
}
    
/*form .form-group > label span {
    display: block;
    font-size: 0.75em;
    opacity: 0.5;
}*/
    
form .form-group > label + * {
    flex-grow: 1 ;
    flex-shrink: 0 ;
    flex-basis: auto;
}
    
form .form-group > input, select {
    padding: 15px;
    border-radius: 30px;
}